<div class="nav-item">
  <div class="menu-item menu-item--sub" @onclick="() => _isExpand = !_isExpand">
    <div class="menu-item--icon" style="@Common.GetIcon(Item.Icon)"></div>
    <div class="menu-item--text">@Item.Title</div>
    <div class="@ArrowClass"></div>
  </div>
  @if (_isExpand)
  {
    <div class="item-group">
      @foreach (var item in Item.Children)
      {
        <NavLink class="menu-item" href="@item.Href" @onclick="OnClick">
          <div class="menu-item--icon" style="@Common.GetIcon(Common.HandlePath("images/component/dot/normal.svg"))"></div>
          <div class="menu-item--text">@item.Title</div>
        </NavLink>
      }
    </div>
  }
</div>

@code {
  [Parameter] public NavSub Item { get; set; } = new();
  [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

  private string ArrowClass => $"menu-item--arrow {(_isExpand ? "open" : "close")}";

  private bool _isExpand;


}