@if (Show)
{
  <div class="@CustomClass">
    <AicsTooltip Show="@_show" Placement="@TooltipPlacement.BottomStart">
      <TooltipTarget>
        <div @ref="_content" class="ellipsis__content">@Text</div>
      </TooltipTarget>
      <TooltipContent>@Text</TooltipContent>
    </AicsTooltip>
  </div>
}

@code {

  [Parameter] public string Text { get; set; } = string.Empty;
  [Parameter] public bool Show { get; set; }
  [Parameter] public bool Error { get; set; }

  private string CustomClass => $"ellipsis{(Error ? " error" : "")}";

  private bool _show;
  private ElementReference _content;
  private DotNetObjectReference<AicsEllipsis>? _reference;

  [JSInvokable]
  public void IsTextOverflow(bool isTextOverflow, int index)
  {
    if (_show == isTextOverflow) return;
    _show = isTextOverflow;
    StateHasChanged();
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (Common.IsClient(JsRuntime))
    {
      _reference ??= DotNetObjectReference.Create(this);
      await JsRuntime.InvokeVoidAsync("window.AicsCommon.IsTextOverflow", _reference, _content, "IsTextOverflow");
    }
  }

}